*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#fafafa;
}
#logoInstagram
{
    height: 50px;
}
header{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
}

.perfil{
    width:120px;
    height:120px;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:20px;
}

.datos{
    text-align:center;
}

.estadisticas{
    display:flex;
    justify-content:space-around;
    margin:20px 0;
}

.estadisticas div{
    margin:0 10px;
}

.nombre{
    font-weight:bold;
}

button{
    margin-top:20px;
    padding:10px;
    width:100%;
    border:none;
    background:#0095f6;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

nav{
    display:flex;
    justify-content:space-around;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:15px 0;
}

nav a{
    text-decoration:none;
    color:black;
    font-weight:bold;
}

.galeria{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:3px;
}

.galeria img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
}

@media (min-width:768px){

header{
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    gap:60px;
    padding:40px;
}

.perfil{
    width:180px;
    height:180px;
}

.datos{
    text-align:left;
}

button{
    width:200px;
}

.galeria{
    max-width:900px;
    margin:auto;
}

}